body {
    background-color: white; 
    font-family:  "Arial Black", Gadget, sans-serif;
}
h1{
    text-align: center
}
h2{
    text-align: center
}
.container {
    float: left;
    position: relative;
}
.canvas {
    position: relative;
    width: 300px;
    background-color: black;
    margin: 20px;
}
#canvas1 {
    animation-name: colorLoop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#canvas2 {
    animation-name: gradients;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.mask {
    position: relative;
}
.color {
    position: absolute;
    width: 300px;
}


  @keyframes colorLoop {
    0%   {background-color:rgba(0,212,255,1);}
    20%  {background-color:rgba(255,0,245,1);}
    40%  {background-color:rgba(255,0,31,1);}
    60%  {background-color:rgba(255,132,0,1)}
    80%  {background-color:rgba(44,255,0,1);}
    100% {background-color:rgba(0,212,255,1);}
  }

  @keyframes gradients {
    0%   {
        background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    20%  {
        background: linear-gradient(135deg, rgba(36,25,0,1) 0%, rgba(118,9,121,1) 35%, rgba(255,0,245,1) 100%);
    } 
    40%  {
        background: linear-gradient(135deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,31,1) 100%);
    }
    60%  {
        background: linear-gradient(135deg, rgba(36,25,0,1) 0%, rgba(121,63,9,1) 35%, rgba(255,132,0,1) 100%);
    } 
    80%  {
        background: linear-gradient(135deg, rgba(36,0,0,1) 0%, rgba(9,121,14,1) 35%, rgba(44,255,0,1) 100%);
    } 

    100% {
        background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
  }
